@page
@model Floppy.Pages.LessonTaskModel
@{
}
 <div class="task_block">
        <div class="Task">
            <h2>Слова</h2>
            <div class="img_task">
                <img src="~/img/lesson/shape1.svg" />
            </div> 
            <form method="post">
                <button name="lessonID" class="button_task" type="submit" value="@ViewBag.Id" >Начать</button>
                <input style="display:none" name="action" value="1"/>
            </form>  
        </div>


        <div class="Task">
            <h2>Грамматика</h2>
            <div class="img_task">
                <img src="~/img/lesson/shape2.svg" />
            </div>
            @{
                if (!Model.Progress.WordsComplete)
                {
                    <form>
                        <button disabled="disabled" class="button_task">Начать</button>
                    </form>
                }
                else
                {
                    <form method="post">
                        <button name="lessonID" class="button_task" type="submit" value="@ViewBag.Id">Начать</button>
                        <input style="display:none" name="action" value="2"/>
                    </form>
                }
            }
        </div>


        <div class="Task">
            <h2>Упражнения</h2>
            <div class="img_task">
                <img src="~/img/lesson/shape3.svg" />
            </div>
            @{
                if (!Model.Progress.GrammarComplete)
                {
                    <form>
                        <button disabled="disabled" class="button_task">Начать</button>
                    </form>
                }
                else
                {
                    <form method="post">
                        <button name="lessonID" class="button_task" type="submit" value="@ViewBag.Id">Начать</button>
                        <input style="display:none" name="action" value="3"/>
                    </form>
                }
            }
        </div>
</div>